# Python (FastAPI)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
ENV/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.tox/
.cache
nosetests.xml
coverage.xml
*.egg-info/
dist/
build/
*.egg

# local scripts
scripts/local/*